# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
!**/src/**/build

.idea

# gradle-teamcity-plugin
.teamcity/

# OS specific files
*.DS_Store

# locally installed TeamCity environments
/server/teamcity/
